.content{
  width: 85%;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}
.heading{
  text-align: center;
  margin-top: 10px;
  color: #002366;
  color: #063489;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.col-md-6{
  /* border: 1px solid red; */
  width: 47%;
}
form{
  padding-left:20px;
}
#categoryInput,#sub-categoryInput{
  width: fit-content;
  display: inline-block;
  text-transform: capitalize;
}
#sub-categoryInput{
  margin-left: 10px;
}
#previewImageDiv {
  margin-top: 50px;
  display: flex; /* set the parent div to display as flex */
  justify-content: center; /* horizontally center the child div */
  align-items: center; /* vertically center the child div */
  height: 450px; /* set the height of the parent div */
}

.label-and-span {
  display: flex;
  justify-content: space-between;
}





  
  