.carousel {
    height:400px;
    width: 400px;
    box-shadow:  1px 1px 5px 2px grey;
  }

  .carousel-control-prev,.carousel-control-next:hover{
    color: black;
  }
  .carousel img {
    display: block;
    height:400px;
    width: 400px;
  }

  .hidden{
    display: none;
  }