.content-warapper{
    /* border: 1px solid red; */
    display: flex;
    height: calc(100vh - 130px);
}
.d2{
    /* border:1px solid green; */
    width: 50%;
    align-content: center;
}
.card{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    /* border:1px solid red; */
}
.d1forget{
    /* border: 1px solid blue; */
    width: 50%;
    background-image: url('../images/Forgot\ password.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size:  420px 360px ;
}

@media (max-width: 600px) {
    .content-warapper {
        display: block;
        overflow-y: auto;
        /* Additional styles specific to smaller screens */
      }.d2{
          width: 100%;
          height: 100%;
      }
      .d1forget{
          width: 100%;
          height: 100%;
      }
  }
